<!-- update-user.component.html -->
<div class="user-management-container">
  <h1 *ngIf="userType === 'candidat'">Update Candidat</h1>
  <h1 *ngIf="userType === 'recruiter'">Update Recruiter</h1>

  <!-- Update User Form -->
  <form class="user-form" [formGroup]="userForm">
    <!-- Common fields -->
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input id="firstName" formControlName="firstName" required>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input id="lastName" formControlName="lastName" required>
    </div>

    <div class="form-group">
      <label for="emailAddress">Email:</label>
      <input id="emailAddress" formControlName="emailAddress" type="email" required>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" required>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input id="phoneNumber" formControlName="phoneNumber" required>
    </div>

    <!-- Fields specific to 'recruiter' -->
    <div class="form-group" *ngIf="userType === 'recruiter'">
      <label for="address">Address:</label>
      <input id="address" formControlName="address" required>
    </div>

    <div class="form-group" *ngIf="userType === 'recruiter'">
      <label for="name">Name:</label>
      <input id="name" formControlName="name" required>
    </div>

    <!-- Fields specific to 'candidat' -->
    <div class="form-group" *ngIf="userType === 'candidat'">
      <label for="title">Title:</label>
      <input id="title" formControlName="title" required>
    </div>

    <div class="form-group" *ngIf="userType === 'candidat'">
      <label for="resume_path">Resume Path:</label>
      <input id="resume_path" formControlName="resume_path" required>
    </div>

    <!-- ... other form fields ... -->

    <button class="btn-save" (click)="updateUser()">Save</button>&nbsp;
    <button class="btn-annuler" (click)="previousState()">I have an Account</button>
  </form>
</div>
