<div class="user-management-container">
  <h1 >Register</h1>
  <!-- User Addition Form -->
  <form class="user-form">
    <div class="form-group">
      <label for="type">Type User:</label>
      <select id="type" [(ngModel)]="user.type" name="type" required class="form-select">
        <option value="candidat">Candidat</option>
        <option value="recruiter">recruiter</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">First Name:</label>
      <input id="firstName" [(ngModel)]="user.firstName" name="firstName" required>
    </div>
    <div class="form-group">
      <label for="name">Last Name:</label>
      <input id="lastName" [(ngModel)]="user.lastName" name="lastName" required>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="user.emailAddress" name="email" type="email" required>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" [(ngModel)]="user.password" name="password" type="password" required>
    </div>

    <div class="form-group">
      <label for="phone">Phone Number:</label>
      <input id="phone" [(ngModel)]="user.phoneNumber" name="phone" type="number" required>
    </div>



    <div class="form-group" *ngIf="user.type === 'recruiter'">
      <label for="address">Address:</label>
      <input id="address" [(ngModel)]="user.address" name="address" required>
    </div>
    <div class="form-group" *ngIf="user.type === 'recruiter'">
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="user.name" name="name" required>
    </div>

    <div class="form-group" *ngIf="user.type === 'candidat'">
      <label for="title">Title:</label>
      <input id="title" [(ngModel)]="user.title" name="title" required>
    </div>
    <div class="form-group" *ngIf="user.type === 'candidat'">
      <label for="resume">Resume Path:</label>
      <input id="resume" [(ngModel)]="user.resume_path" name="resume" required>
    </div>


    <!-- ... other form fields ... -->

    <button class="btn-save" (click)="saveUser()">Save</button>&nbsp;
    <button class="btn-annuler" (click)="previousState()">I have an Account</button>
  </form>
</div>
