/* Ajoutez ces styles pour chaque carte d'offre d'emploi */
.job-card {
  width: 900px; /* Ajustez la largeur selon vos besoins */
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  border-bottom: 2px solid #ccc; /* Ajoute une bordure inférieure grise */
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.job-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Ajoutez ces styles pour le contenu de la carte */
mat-card-content {
  padding: 16px;
}

/* Ajoutez ces styles pour la ligne du titre et du bouton */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Ajoutez ces styles pour les boutons dans le conteneur de boutons */
.button-container {
  display: flex;
  gap: 5px;
  margin-left: 520px;
  justify-content: space-between;
  margin-top: 10px;
  padding: 16px;
}
.button-container button {
  padding: 2px 6px; /* Ajustez la taille des boutons selon vos besoins */
}

div {
  max-width: 800px;
  margin: auto;
}

h2 {
  text-align: center;
}


.btn-update {
  background-color: #2ecc71;
  color: white;
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-update:hover {
  background-color: #27ae60;
}

.btn-view-details {
  background-color: #3498db; /* Bleu */
  color: white;
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-create-user {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-create-user:hover {
  background-color: #2980b9;
}
.btn-logout {
  margin-left: 500px;
  background-color: #e67e22; /* Couleur orange */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #d35400; /* Couleur orange foncé au survol */
}
.btn-view-details:hover {
  background-color: #2980b9; /* Bleu foncé au survol */
}

.btn-delete {
  background-color: #e74c3c; /* Rouge */
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #c0392b; /* Rouge foncé au survol */
}
.button-container {
  display: flex;
  gap: 5px; /* Espacement entre les boutons */
}
