<div>
  <h2>Liste des Offres d'Emploi</h2>
  <button class="btn-create-user"  *ngIf="userType === 'recruiter'" (click)="redirectToCreateOffer()">Créer une nouvelle offre </button>
  <button class="btn-logout" (click)="logout()">Déconnexion</button>

  <div class="card-container">
    <mat-card *ngFor="let offer of jobOffers" class="job-card">
      <mat-card-content>
        <div class="header-container">
          <h3><strong>{{ offer.title }}</strong></h3>

          <div class="button-container">
            <button class="btn-view-details" (click)="viewJobOfferDetails(offer)">Afficher l'offre</button>
            <button class="btn-update" (click)="updateOffre(offer._id.$oid)">Update</button>
            <button class="btn-delete" (click)="openDeleteConfirmationDialog(offer._id.$oid)">Delete</button>
          </div>
        </div>
        <p><strong>Requirements:</strong> {{ offer.requirements }}</p>
        <p><strong>Offer Type:</strong> {{ offer.offerType }}</p>
        <p><strong>Annonce du : </strong> {{ offer.publicationDate }} <strong> Cloture le : </strong> {{ offer.expirationDate }}</p>


      </mat-card-content>
    </mat-card>
  </div>
  <!-- list-job-offer.component.html -->

  <mat-paginator *ngIf="jobOffers" [length]="jobOffers.length" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>


</div>

