<h2 class="mat-dialog-title">Delete Confirmation</h2>
<mat-dialog-content class="mat-dialog-content">
  Are you sure you want to delete this Offer?
</mat-dialog-content>
<mat-dialog-actions class="mat-dialog-actions">
  <button mat-button class="mat-button-cancel" (click)="onNoClick()">Cancel</button>
  <button  mat-button [mat-dialog-close]="true" cdkFocusInitial class="mat-button-delete">Delete</button>
</mat-dialog-actions>
