<div class="user-list-container">
  <h2>User List</h2>
  <button class="btn-create-user" (click)="redirectToAddUser()">Créer un nouvel utilisateur</button>
  <button class="btn-logout" (click)="logout()">Déconnexion</button>
</div>

<div *ngIf="users && users.length > 0" class="user-table-container">
  <table class="user-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let u of users">
      <td>{{ u._id.$oid }}</td>
      <td>{{ u.name }}</td>
      <td>{{ u.emailAddress }}</td>
      <td>
        <button class="btn-update" (click)="openUpdateDialog(u)">Update</button>
        <button class="btn-view-details" (click)="viewUserDetails(u)">View Details</button>
        <button class="btn-delete" (click)="openDeleteConfirmationDialog(u._id.$oid)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
