.user-list-container {
  text-align: center;
  margin-bottom: 20px;
}

.btn-create-user {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-create-user:hover {
  background-color: #2980b9;
}
.btn-logout {
  margin-left: 500px;
  background-color: #e67e22; /* Couleur orange */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #d35400; /* Couleur orange foncé au survol */
}

.user-table-container {
  max-width: 800px;
  margin: auto;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.btn-update {
  background-color: #2ecc71;
  color: white;
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-update:hover {
  background-color: #27ae60;
}

.btn-view-details {
  background-color: #3498db; /* Bleu */
  color: white;
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-view-details:hover {
  background-color: #2980b9; /* Bleu foncé au survol */
}

.btn-delete {
  background-color: #e74c3c; /* Rouge */
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #c0392b; /* Rouge foncé au survol */
}
