/* Ajoutez ces styles à votre fichier de styles global ou local */

.user-details-container {
  text-align: center;
}

.user-details-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3498db; /* Bleu */
}

.user-details-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto; /* Centrer horizontalement */
  text-align: left;
  max-width: 400px; /* Ajustez selon vos besoins */
}

.user-details-list-item {
  margin-bottom: 10px;
}

.user-details-not-found {
  font-size: 18px;
  color: #e74c3c; /* Rouge */
  margin-top: 20px;
}

.user-details-back-button {
  margin-top: 20px;
  text-align: center;
}

.btn-info {
  background-color: #3498db; /* Couleur de fond bleue */
  color: #ffffff; /* Texte blanc */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-info:hover {
  background-color: #2980b9; /* Couleur de fond bleue plus foncée au survol */
}
