<div *ngIf="user" class="user-details-container">
  <h2 class="user-details-title">User Details</h2>
  <ul class="user-details-list">
    <li class="user-details-list-item"><strong>ID:</strong> {{ user._id.$oid }}</li>
    <li class="user-details-list-item"><strong>Name:</strong> {{ user.name }}</li>
    <li class="user-details-list-item"><strong>Email:</strong> {{ user.emailAddress }}</li>
    <!-- Ajoutez d'autres éléments li si nécessaire -->
  </ul>
  <button type="submit" (click)="previousState()" class="btn btn-info user-details-back-button">&nbsp;<span>Retour</span></button>
</div>


<div *ngIf="!user" class="user-details-not-found">
  <p>User not found</p>
</div>
