/* Add this to your global styles or in the component's style file */

.mat-dialog-container {
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mat-dialog-title {
  background-color: #3498db;
  color: white;
  padding: 15px;
  font-size: 18px;
  border-radius: 8px 8px 0 0;
}

.mat-dialog-content {
  padding: 20px;
}

.mat-dialog-actions {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  border-radius: 0 0 8px 8px;
}

.mat-dialog-actions button {
  margin-left: 10px;
}

.mat-dialog-actions button.mat-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
}

.mat-dialog-actions button.mat-button:hover {
  background-color: #2980b9;
}

.mat-dialog-actions button.mat-button.mat-dialog-close {
  background-color: #ccc;
  color: #333;
}

.mat-dialog-actions button.mat-button.mat-dialog-close:hover {
  background-color: #bbb;
}
.mat-button-cancel {
  background-color: #e74c3c; /* Rouge */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
}

.mat-button-cancel:hover {
  background-color: #c0392b; /* Rouge foncé au survol */
}

.mat-button-delete {
  background-color: #3498db; /* Bleu */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
}

.mat-button-delete:hover {
  background-color: #2980b9; /* Bleu foncé au survol */
}

