<div *ngIf="offer" class="offer-details-container">
  <mat-card class="offer-details-card">
    <mat-card-header>
      <mat-card-title class="offer-details-title">Details de l'offre</mat-card-title>
      <button mat-button class="btn-info" *ngIf="userType === 'candidate'" (click)="postuler()">Postuler</button>
    </mat-card-header>
    <mat-card-content>
      <ul class="offer-details-list">
        <li class="offer-details-list-item"><strong>ID:</strong> {{ offer._id.$oid }}</li>
        <li class="offer-details-list-item"><strong>Title:</strong> {{ offer.title }}</li>
        <li class="offer-details-list-item"><strong>Description:</strong> {{ offer.description }}</li>
        <li class="offer-details-list-item"><strong>Requirements:</strong> {{ offer.requirements }}</li>
        <li class="offer-details-list-item"><strong>Offer Type:</strong> {{ offer.offerType }}</li>
        <li class="offer-details-list-item"><strong>Publication Date:</strong> {{ offer.publicationDate}}</li>
        <li class="offer-details-list-item"><strong>Expiration Date:</strong> {{ offer.expirationDate }}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="previousState()" class="offer-details-back-button">
        Retour
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!offer" class="offer-details-not-found">
  <p>Offre non trouvée</p>
</div>

