/* Ajoutez ces styles à votre fichier de styles global ou local */
.offer-details-card {
  max-width: 800px; /* Ajustez la largeur de la card selon vos besoins */
  margin: 20px;
}

.offer-details-avatar {
  width: 64px; /* Ajustez la taille de l'avatar selon vos besoins */
  height: 64px;
  border-radius: 50%;
  background-color: #ccc; /* Ajoute une couleur de fond pour l'avatar */
}

/* Ajoutez ces styles pour le contenu de la card */
.offer-details-list {
  list-style-type: none;
  padding: 0;
}

.offer-details-list-item {
  margin-bottom: 10px;
}

/* Ajoutez ces styles pour le bouton de retour */
.offer-details-back-button {
  margin-top: 10px;
}

.offer-details-container {
  text-align: center;
}

.offer-details-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3498db; /* Bleu */
}

.offer-details-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto; /* Centrer horizontalement */
  text-align: left;
  max-width: 400px; /* Ajustez selon vos besoins */
}

.offer-details-list-item {
  margin-bottom: 10px;
}

.offer-details-not-found {
  font-size: 18px;
  color: #e74c3c; /* Rouge */
  margin-top: 20px;
}

.offer-details-back-button {
  margin-top: 20px;
  text-align: center;
}

.btn-info {
  background-color: #3498db; /* Couleur de fond bleue */
  color: #ffffff; /* Texte blanc */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-info:hover {
  background-color: #2980b9; /* Couleur de fond bleue plus foncée au survol */
}
