.toast-success {
  background-color: #28a745 !important; /* Green background */
  color: #fff !important; /* White text */
}

/* Custom style for error toast */
.toast-error {
  background-color: #dc3545 !important; /* Red background */
  color: #fff !important; /* White text */
}

/* Optional: Add some padding to the toast container for better visibility */
.toast-container {
  padding: 16px;
}
.user-management-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.btn-save {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-annuler {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #45a049;
}

