<div class="user-management-container">
  <h1>User Login</h1>

  <!-- User Addition Form -->
  <form class="user-form">
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="user.emailAddress" name="email" type="email" required>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" [(ngModel)]="user.password" name="pwd" type="password" required>
    </div>

    <!-- ... other form fields ... -->

    <button class="btn-save" (click)="LoginUser()">Login</button>&nbsp;
    <button class="btn-annuler" (click)="previousState()">Create an Account</button>&nbsp;
  </form>
</div>
