<div>
  <h2>Nouvelle Offre d'Emploi</h2>

  <form (ngSubmit)="onSubmit()" #jobOfferForm="ngForm">
    <label for="title">Company Name:</label>
    <input type="text" id="companyName" name="companyName" [(ngModel)]="jobOffer.companyName" required>
    <label for="title">Titre:</label>
    <input type="text" id="title" name="title" [(ngModel)]="jobOffer.title" required>

    <label for="description">Description:</label>
    <textarea id="description" name="description" [(ngModel)]="jobOffer.description" required></textarea>

    <label for="requirements">Exigences:</label>
    <textarea id="requirements" name="requirements" [(ngModel)]="jobOffer.requirements" required></textarea>

    <label for="offerType">Type d'Offre:</label>
    <input type="text" id="offerType" name="offerType" [(ngModel)]="jobOffer.offerType" required>

    <label for="publicationDate">Date de Publication:</label>
    <input type="date" id="publicationDate" name="publicationDate" [(ngModel)]="jobOffer.publicationDate" required>

    <label for="expirationDate">Date d'Expiration:</label>
    <input type="date" id="expirationDate" name="expirationDate" [(ngModel)]="jobOffer.expirationDate" required>

    <label for="visible">Visible:</label>
    <input type="checkbox" id="visible" name="visible" [(ngModel)]="jobOffer.visible" required>

    <label for="valide">Valide:</label>
    <input type="checkbox" id="valide" name="valide" [(ngModel)]="jobOffer.valide" required>

    <button type="submit" >Créer Offre</button>&nbsp;

  </form>

  <button class="btn-annuler" (click)="previousState()">Annuler</button>
</div>
